@font-face {
    font-family: "DINNextLTW23–Bold";
    src: url("../Fonts/DINNextLTW23–Bold.ttf") format(ttf),
    url("../Fonts/GE\ Flow\ Bold.otf") format(otf),
    url("../Fonts/Meal\ Name\ and\ price.ai") format(ai)
 }

 body {
     font-family: "DINNextLTW23–Bold";
 }