@import "./include/font.scss";
@import "./include/variable.scss";
@import "./include/extend";
@import "./include/mixin";

/*start upper nav*/
.upper-nav {
  background-color: $main-color;

  .icon-contact {
      font-size: $font-size-icon;
      color: #FFF;
      padding-right: 2px;
      @include transition(.4s);

      &:hover{
          @include transform(scale(1.1));
          color: #ebe8e8;
      }
  }
  .contact-res {
      @include transition(.4s);

      .contact-tel, .title {
          color: #FFF;
          font-size: 17px;
      }

      &:hover {
            @include transform(scale(1.01))
      }
  }

  /* media Query*/

  @media screen and (max-width: 395.9px) {
    .social-media-icon {
      justify-content: center;

    }
    .contact {
      display: block !important;
      text-align: center;;
    }
  }
}
/*end upper nav*/

/*start navbar*/
.navbar {
  .navbar-nav {
    .nav-link.active,
    .show>.nav-link {
        @extend .bg-color;
        font-size: $main-fot-size;
    }

    .nav-link {
      @include transition(.4s);
      font-size: $main-fot-size;
      padding: 7px 17px;
      margin: 0 5px;
      border-radius: 4px;
      color:#000;
      @include transition(.4s);

      &:hover {
        @extend .bg-color;
      }

      &:focus {
        @extend .bg-color;
      }
    }
    :last-child {
      .nav-link{
        background-color: transparent;
      }
    }

  }

  .navbar-toggler {
    &:focus {
      box-shadow:none;
    }
  }

  @media screen and (max-width: 395.9px) {
    .navbar-brand {
      width:205px;

      img {
        width: 50% !important;
      }
    }

    .navbar-toggler {
      padding: 2px 3px;
      border: 2px solid $main-color;
      border-radius: 0.22rem;
    }

    .navbar-nav {
      .nav-link.active,
      .show>.nav-link {
        padding: 5px 17px;
        margin-bottom: 7px;
        font-size: $main-fot-size;
        border-bottom: 1px solid $bg-footer
      }

      :last-child {
        .nav-link{
          border-top: 1px solid $main-color;
          border-radius: 0
      }
    }
    }
  }
}

// add style to navbar when scroll
.sticky {
  @extend .sticky;
}

/*end navbar */

/*start header*/
.carousel-ads {
  .carousel-control-next {

      img{
        @extend .carousel-control-img-next-prev;
      }
  }
  .carousel-control-prev {

      img{
            @extend .carousel-control-img-next-prev;
      }
  }

  .carousel-indicators {
      bottom: -50px;

      .active {
          background-color: $main-color !important;
      }
  }

  .carousel-indicators [data-bs-target]{
      background-color:  #c6c6c4;
      width: 20px;
  }
}


/* */
.our-products {
  margin: 100px 0 50px 0;

  .healthy-food {
      background-image: url('../imgs/healthy-food1.jfif');
      @extend .property-bg-img;
  }


  .food-meal {
      background-image: url('../imgs/healthy-food2.jfif');
      @extend .property-bg-img;
  }
  .food-menu {
      background-image: url('../imgs/healthy-food3.jfif');
      @extend .property-bg-img;
  }

  .overlay-food{
      position: relative !important;
      @include transition(.5s);

      &:hover {
          @include transform(scale(1.02));
          @include transform(translate(4px, -10px));
          @include box-shadow(-1px 5px 15px 1px #00000091);

          &::before {
              background-color: #00000040;
          }

          // start style product-title
          .product-title {

              &::before {
                  width: 100%;
                  visibility: visible;
              }
          }
          // end style product-title
      }

      &::before {
          @extend .property-before;
          border-radius: 4px;
      }
  }

  .product-title {
      @extend .bg-color;
      position: absolute;
      bottom: 0px;
      right: 0px;
      font-size: 22px;
      padding: 6px 0;
      width: 110px;
      text-align: center;
      border-radius: 7px 0px 7px 0px;
      z-index: 9999;

      &::before {
          @extend .property-before;
          @include transition(all .4s ease-in-out);
          background: #00be00;
          width: 0;
          z-index: -1;
          height: 100%;
          border-radius: 7px 0px 7px 0px;
      }
  }
}


footer {
  background-color:  $bg-footer;
  color: #2b2b2b;
  padding: 30px 0;
  font-size: $font-size-icon;

  .title {
      position: relative;

      &::before {
          content: "";
          position: absolute;
          top: 2px;
          right: -11px;
          width: 5px;
          height: 22px;
          background-color: $main-color;
      }
  }

  .link-title{
      .link-name-content{
          color: #2b2b2b;
      }
  }

  .copy-container {
      .copy-right {
          font-size: 20px;
      }
  }
  /*media query*/
  @media screen and (max-width: 395.9px) {

  }
}