.bg-color {
    background-color: $main-color;
    color: #FFF;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.carousel-control-img-next-prev {
    background-color: #FFF;
    border-radius: 50%;
    padding: 7px;
    width: 33px;
    border: 2px solid $main-color;
}

.property-bg-img {
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin: 9px;
    position: relative;
}

.property-before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.right-line-before {
    content: "";
    position: absolute;
    right: -13px;
    width: 8px;
    background-color: $main-color;
}

.healthy-launch {
    background-size: 75% 75%;
    background-repeat: no-repeat;
}

.click-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
}

.line-height-font {
    line-height: 2rem;
	font-size: 0.875rem;
}
