@charset "UTF-8";
@font-face {
  font-family: "DINNextLTW23–Bold";
  src: url("../Fonts/DINNextLTW23–Bold.ttf") format(ttf), url("../Fonts/GE Flow Bold.otf") format(otf), url("../Fonts/Meal Name and price.ai") format(ai);
}
body {
  font-family: "DINNextLTW23–Bold";
}

.bg-color, .our-products .product-title, .navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .show > .nav-link {
  background-color: #72a73e;
  color: #FFF;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.carousel-control-img-next-prev, .carousel-ads .carousel-control-prev img, .carousel-ads .carousel-control-next img {
  background-color: #FFF;
  border-radius: 50%;
  padding: 7px;
  width: 33px;
  border: 2px solid #72a73e;
}

.property-bg-img, .our-products .food-menu, .our-products .food-meal, .our-products .healthy-food {
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin: 9px;
  position: relative;
}

.property-before, .our-products .product-title::before, .our-products .overlay-food::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

/*start upper nav*/
.upper-nav {
  background-color: #72a73e;
  /* media Query*/
}
.upper-nav .icon-contact {
  font-size: 18px;
  color: #FFF;
  padding-right: 2px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.upper-nav .icon-contact:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  color: #ebe8e8;
}
.upper-nav .contact-res {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.upper-nav .contact-res .contact-tel, .upper-nav .contact-res .title {
  color: #FFF;
  font-size: 17px;
}
.upper-nav .contact-res:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}
@media screen and (max-width: 769.9px) {
  .upper-nav .social-media-icon {
    justify-content: center;
  }
  .upper-nav .contact {
    display: block !important;
    text-align: center;
  }
}

/*end upper nav*/
/*start navbar*/
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .show > .nav-link {
  font-size: 21px;
}
.navbar .navbar-nav .nav-link {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-size: 21px;
  padding: 7px 17px;
  margin: 0 5px;
  border-radius: 4px;
  color: #000;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.navbar .navbar-nav :last-child .nav-link {
  background-color: transparent;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
@media screen and (max-width: 984.9px) {
  .navbar .navbar-brand {
    width: 205px;
  }
  .navbar .navbar-brand img {
    width: 50% !important;
  }
  .navbar .navbar-toggler {
    padding: 2px 3px;
    border: 2px solid #72a73e;
    border-radius: 0.22rem;
  }
  .navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .show > .nav-link {
    padding: 5px 17px;
    margin-bottom: 7px;
    font-size: 21px;
    border-bottom: 1px solid #d7d7d7;
  }
  .navbar .navbar-nav :last-child .nav-link {
    border-top: 1px solid #72a73e;
    border-radius: 0;
  }
}

/*end navbar */
/*start header*/
.carousel-ads .carousel-indicators {
  bottom: -50px;
}
.carousel-ads .carousel-indicators .active {
  background-color: #72a73e !important;
}
.carousel-ads .carousel-indicators [data-bs-target] {
  background-color: #c6c6c4;
  width: 20px;
}

/* */
.our-products {
  margin: 60px 0;
}
.our-products .healthy-food {
  background-image: url("../imgs/healthy-food1.jfif");
}
.our-products .food-meal {
  background-image: url("../imgs/healthy-food2.jfif");
}
.our-products .food-menu {
  background-image: url("../imgs/healthy-food3.jfif");
}
.our-products .overlay-food {
  position: relative !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.our-products .overlay-food:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transform: translate(4px, -10px);
  -moz-transform: translate(4px, -10px);
  -ms-transform: translate(4px, -10px);
  -o-transform: translate(4px, -10px);
  transform: translate(4px, -10px);
  -webkit-box-shadow: -1px 5px 15px 1px #00000091;
  -moz-box-shadow: -1px 5px 15px 1px #00000091;
  -ms-box-shadow: -1px 5px 15px 1px #00000091;
  -o-box-shadow: -1px 5px 15px 1px #00000091;
  box-shadow: -1px 5px 15px 1px #00000091;
}
.our-products .overlay-food:hover::before {
  background-color: #00000040;
}
.our-products .overlay-food:hover .product-title::before {
  width: 100%;
  visibility: visible;
}
.our-products .overlay-food::before {
  border-radius: 4px;
}
.our-products .product-title {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 22px;
  padding: 6px 0;
  width: 110px;
  text-align: center;
  border-radius: 7px 0px 7px 0px;
  z-index: 9999;
}
.our-products .product-title::before {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: #00be00;
  width: 0;
  z-index: -1;
  height: 100%;
  border-radius: 7px 0px 7px 0px;
}
.our-products .product-title-en {
  left: 0;
  width: 130px;
  border-radius: 0px 7px 0 7px;
}
.our-products .product-title-en::before {
  left: 0;
  width: 0px;
  border-radius: 0px 7px 0 7px;
}

footer {
  background-color: #d7d7d7;
  color: #2b2b2b;
  padding: 30px 0;
  font-size: 18px;
  /*media query*/
}
footer .title {
  position: relative;
}
footer .title::before {
  content: "";
  position: absolute;
  top: 2px;
  right: -11px;
  width: 5px;
  height: 22px;
  background-color: #72a73e;
}
footer .title-en::before {
  content: "";
  top: 2px;
  left: -11px;
}
footer .link-title .link-name-content {
  color: #2b2b2b;
}
footer .copy-container .copy-right {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
