
/*start upper nav*/
.upper-nav {
  position: relative;
  background-color: $main-color;
  z-index: 9999;

// cart style

 .logo-nav {
    background-color: #FFF;
    width: 30px;
    border-radius: 50px;

    @media screen and (max-width: 596px)  {
      display: none;
    }
  }

// cart style
  .cart-btn {
    .cart-icon {
      color: #FFF
    }
  }
.cart {
  width: 314px;
  min-height: 315px;
  top: 41px;
  position: absolute;
  right: 153px;
  background: #fdfdfd;
  border: 1px solid #f3f3f3;
  padding: 20px;
  color: $main-color;
  display: none;

  @media screen and (max-width: 370px) {
    width: 279px;
    right: 24px;
    top: 30px;
  }

  @media screen and (min-width: 370.9px) and (max-width: 491px) {
    width: 313px;
    right: 32px;
    top: 32px;
  }

  .buyItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $main-color;
    padding: 5px 0;

    .img-product {
      object-fit: contain;
      width: 91px !important;
      align-self: baseline;
    }
  }

}

.cart-en {
  top: 111px;

  @media screen and(min-width: 370px) and (max-width: 491.9px) {
    right: 26px;
  }
  @media screen and(min-width: 491px) and (max-width: 768px) {
    right: 219px;
  }

  @media screen and(min-width: 768.9px) and (max-width: 984.9px) {
    right: 325px;
    top: 68px;
  }

   @media screen and(min-width: 984.9px) and (max-width: 1199.9px) {
    right: 80px;
    top: 30px;
  }
}

  .icon-contact {
    font-size: $font-size-icon;
    color: #FFF;
    padding-right: 2px;
    @include transition(.4s);

    &:hover{
        @include transform(scale(1.1));
        color: #ebe8e8;
    }
  }

  .contact-res {
    @include transition(.4s);

    .contact-tel, .title {
      color: #FFF;
      font-size: 17px;

      @media screen and (max-width:800.8px ) {
        font-size: 14px;
      }
    }

    &:hover {
      @include transform(scale(1.01))
    }
  }

  /* media Query*/
  @media screen and (max-width: 769.9px) {
    .social-media-icon {
      justify-content: center !important;
    }

    .contact {
      display: block !important;
      text-align: center;;
    }
  }
}
/*end upper nav*/

/*start navbar*/
.navbar {
  .navbar-nav {
    .nav-link.active,
    .show>.nav-link {
      @extend .bg-color;
      font-size: $main-fot-size;
    }

    .nav-link {
      @include transition(.4s);
      font-size: $main-fot-size;
      padding: 7px 17px;
      margin: 0 5px;
      border-radius: 4px;
      color:#000;
      @include transition(.4s);

      &:hover {
        @extend .bg-color;
      }

      &:focus {
        @extend .bg-color;
      }
    }

    :last-child {
      .nav-link{
        background-color: transparent;
      }
    }
  }

  .navbar-toggler {
    &:focus {
      box-shadow:none;
    }
  }

  @media screen and (max-width: 984.9px) {
    .navbar-brand {
      width:205px;

      img {
        width: 50% !important;
      }
    }

    .navbar-toggler {
      padding: 2px 3px;
      border: 2px solid $main-color;
      border-radius: 0.22rem;
    }

    .navbar-nav {
      .nav-link.active,
      .show>.nav-link {
        padding: 5px 17px;
        margin-bottom: 7px;
        font-size: $main-fot-size;
        border-bottom: 1px solid $bg-footer
      }

      :last-child {
        .nav-link{
          border-top: 1px solid $main-color;
          border-radius: 0
        }
      }
    }
  }
}

// add style to navbar when scroll
.sticky {
  @extend .sticky;
}
/*end navbar */
