
/*start header*/
.carousel-ads {

  .carousel-control-next {

    img{
      @extend .carousel-control-img-next-prev;
    }
  }

  .carousel-control-prev {

    img{
      @extend .carousel-control-img-next-prev;
    }
  }

  .carousel-indicators {
    bottom: -50px;

    .active {
      background-color: $main-color !important;
    }
  }

  .carousel-indicators [data-bs-target]{
    background-color:  #c6c6c4;
    width: 20px;
  }
}


/* */
.our-products {
  margin: 60px 0;

  .healthy-food {
    background-image: url('../imgs/healthy-food1.JPEG');
    @extend .property-bg-img;
  }

  .food-meal {
    background-image: url('../imgs/healthy-food2.JPEG');
    @extend .property-bg-img;
  }

  .food-menu {
    background-image: url('../imgs/healthy-food3.JPEG');
    @extend .property-bg-img;
  }
}
