
/*start header*/
.carousel-ads {
  .carousel-control-next {

      img{
        @extend .carousel-control-img-next-prev;
      }
  }
  .carousel-control-prev {

      img{
            @extend .carousel-control-img-next-prev;
      }
  }

  .carousel-indicators {
      bottom: -50px;

      .active {
          background-color: $main-color !important;
      }
  }

  .carousel-indicators [data-bs-target]{
      background-color:  #c6c6c4;
      width: 20px;
  }
}


/* */
.our-products {
  margin: 60px 0;

  .healthy-food {
    background-image: url('../imgs/healthy-food1.jfif');
    @extend .property-bg-img;
  }


  .food-meal {
    background-image: url('../imgs/healthy-food2.jfif');
    @extend .property-bg-img;
  }
  .food-menu {
    background-image: url('../imgs/healthy-food3.jfif');
    @extend .property-bg-img;
  }

  .overlay-food{
    position: relative !important;
    @include transition(.5s);

    &:hover {
      @include transform(scale(1.02));
      @include transform(translate(4px, -10px));
      @include box-shadow(-1px 5px 15px 1px #00000091);

      &::before {
        background-color: #00000040;
      }

      // start style product-title
      .product-title {

        &::before {
          width: 100%;
          visibility: visible;
        }
      }
        // end style product-title
    }

    &::before {
      @extend .property-before;
      border-radius: 4px;
    }

    .our-product-link {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 99999;
    }
  }

  .product-title {
    @extend .bg-color;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 22px;
    padding: 6px 0;
    width: 110px;
    text-align: center;
    border-radius: 7px 0px 7px 0px;
    z-index: 9999;

    &::before {
      @extend .property-before;
      @include transition(all .4s ease-in-out);
      background: #00be00;
      width: 0;
      z-index: -1;
      height: 100%;
      border-radius: 7px 0px 7px 0px;
    }
  }
   .product-title-en {
    left: 0;
    width: 140px;
    font-size: 18px;
    border-radius: 0px 7px 0 7px;

    &::before {
      left: 0;
      width: 0px;
      border-radius: 0px 7px 0 7px;
    }
  }
}
