.contact-us {

  .chat-contact {
    border: 1px solid #dadada;
    padding: 5px 7px;
    border-radius: 5px;

    .fas {
      color: $main-color;
    }
  }
}

.total-days {

  .lunch-work-title {
    padding: 5px 0;
  }
  .day {
    text-align: center;

    .day-ar {
      color: #222;
      padding-right: 6px;
    }

    .day-num {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
      border: 1px solid #a8a8a8;
      color: #222;
    }
  }
}

.mealz-content {
  position: relative;
  border-radius: 10px;
  margin: 15px 0;
  @include box-shadow(-2px 1px 5px 2px #0d0d0d61);
  @include transition(.5s);


  &:hover {
    // @include transform(scale(1.01));
    // @include transform(translate(4px, -10px));
    @include box-shadow(-1px 5px 15px 1px #00000091);
  }

.select-chef {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-self: center;
      top: 10px;
      padding: 0 10px;
      width: 100%;
      z-index: 99999999;

      .kcal {
        font-size: 15px;
        border-radius: 4px;
        background-color: #ffbd55;
        padding: 3px 10px
        }

        .btn-toggle {
          @extend .bg-color;
          padding: 3px 18px;

          &:focus {
            box-shadow: none;
            outline: 0;
          }
        }

        .dropdown-toggle {

          &::after {
            position: absolute;
            top: 13px
            // left: 4px;
          }
        }

        .dropdown-menu {
          border: 0;
          border-radius: 0 0px 5px 6px;
          min-width: 123px;

          .dropdown-item.active,
          .dropdown-item {

            &:active {
              background-color: $main-color;
            }
          }
        }
      }

  .meal-img {
    height: 165px;
    position: relative;

    .img-meal {
      border-radius: 8px 8px 0 0;
      object-fit: cover;
      width: 10%;
      height: 100%;
    }

    .gramoli-logo {
      position: relative;
      display: flex;
      width: 36px;
      height: 36px;
      margin-left: auto;
      margin-top: -20px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        right: 20px;
        bottom: 0;
        display: block;
        background: url(../imgs/logo.PNG);
        background-size: cover;
        background-color: #FFF;
        border-radius: 50%;
        border: 2px solid $main-color
      }
    }
  }

  .meal-detail{

    .meal-title {

      .btn-select {
        @extend .bg-color;
      }

      .meal-name-en {
        font-size: 18px;

        @media screen and (max-width: 430px) {
          font-size: 14px;
        }
      }
    }
  }
}



.hover-meal {
  position: absolute;
  z-index: 9999999999;
  top: -100px;
  background-color: rgba(255, 255, 255, 0.987);
  width: 100%;

  border-radius: 10px;
  display: none;

  .img-food {
    padding: 10px;
  }

  .icon {
    position: relative;
    width: 43px;
    height: 43px;
    background: url("../imgs/logo.PNG");
    background-color: rgb(247, 247, 247);
    background-size: cover;
    margin: auto;
    margin-top: -32px;
    border-radius: 50%;
    border: 2px solid $main-color;
  }

  .meal-name {
    font-weight: bold;
    padding-top: 15px;
  }
  .icon-header {
      font-size: 17px;
      font-weight: bold;
    }

    .btn-select {
      @extend .bg-color;
    ;
    }
}


// .x:hover .hover-meal{
//    display: block;
// }

.click-cart:active .hover-meal {
  display: block;
}

.click-cart:focus .hover-meal{
   display: block;
}